

  <footer class="footer bg-light py-3 mt-auto">
    <div class="container text-center">
      <span class="text-muted fs-6"><small>The Skate Spots &copy; 2018</small></span>
    </div>
  </footer>
  

