<% layout('/layouts/boilerplate') %>
<div class="row">
  <div class="col-lg-6 offset-lg-3 col-sm-12 offset-sm-0">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= err.message %></h4>
      <p>Please click any of the links to go back to our site.</p>
      <hr>
      <p class="mb-0" style="word-wrap: break-word;"><%= err.stack %></p>
    </div>
  </div>
</div>
