<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skate Spots</title>
    <link rel="stylesheet" href="stylesheets/landingstyles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-0c38nfCMzF8w8DBI+9nTWzApOpr1z0WuyswL4y6x/2ZTtmj/Ki5TedKeUcFusC/k" crossorigin="anonymous">
</head>
<body>
    <main>
        <div class="nav">
            <a href="/login" class="btn"><i class="fas fa-user"></i>LOGIN</a>
            <a href="/register" class="btn"><i class="fas fa-users"></i>Register</a>
            <a href="/skateSpots" class="btn"><i class="fas fa-binoculars"></i>Spots</a>
        </div>
        <div id="bg"></div>
        <div class="spot1">
            <svg height="100%" width="100%">
                <text x="10%" y="60%" text-anchor="start">SKATE</text>
            </svg>
        </div>
        <div class="spot2">
            <svg height="100%" width="100%">
                <text x="10%" y="60%" text-anchor="start">SKATE SPOTS</text>
            </svg>
        </div>
        <div class="spot3">
            <svg height="100%" width="100%">
                <text x="10%" y="60%" text-anchor="start">SKATE</text>
            </svg>
        </div>
        <div class="spot4">
            <svg height="100%" width="100%">
                <text x="10%" y="60%" text-anchor="start">SKATE</text>
            </svg>
        </div>
        <section id="title">
            <svg height="100%" width="100%">
                <text x="10%" y="60%" text-anchor="start">SKATE SPOTS</text>
            </svg>
        </section>
    </main>
</body>
</html>

