<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skate Spots</title>
    <link rel="stylesheet" href="stylesheets/landingstyles.css">
</head>
<body>
    <div id="bg"></div>
    <header>
        <!-- <h3>Skate Spots</h3> -->
    </header>
    <main>
        <section id="card">
            <svg height="100%" width="100%">
                <text x="50%" y="50%" text-anchor="middle">SKATE SPOTS</text>
            </svg>
        </section>
        <section id="primary">

            <p id="myform">
                <form id="searchForm" action="/skateSpots" method="GET">
                        <input type="text" name="search" placeholder="Skate Spot search...">
                        <input class="btn" type="submit" value="Search">
                </form>
            </p>

            <p>
                .. or ..
            </p>
           
            <a href="/skateSpots" class="btn">View All Spots</a>
        </section>

        <section id="content">
            <video src=""></video>
        </section>
    </main>
    <footer>

    </footer>

</body>
</html>

