<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skate Spots</title>
    <link rel="stylesheet" href="stylesheets/landingstyle.css">
</head>
<body>
<div class="container">
    <div class="inner">
        <h1>Welcome to Skate Spots!</h1>
        <p>
            <form id="searchForm" class="text-center" action="/skateSpots" method="GET" class="form-inline">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="Skate Spot search...">
                    <span class="input-group-btn">
                        <input class="btn btn-primary" type="submit" value="Search">
                    </span>
                </div>
            </form>
        </p>
        <p class="text-center">
            .. or ..
        </p>
        <p class="text-center">
            <a href="/skateSpots" class="btn btn-info">View All Spots</a>
        </p>
    </div>
</div>



</body>
</html>

