//photo credit * Max Tarkhov * 

$colors: (
  primary: #327ab7,
  accent: #eeeeee,
  secondary: #fff,
  dp: darken(#327ab7, 25%),
  lp: lighten(#327ab7, 25%)
);
  
@function color($color-name) {
@return map-get($colors, $color-name)
}

$padding-small: (5px);
$padding: (15px);
$borders: (15px);

@mixin queryMd {
  @media screen and (max-width: 1000px) {
    @content;  
  }
}

@mixin querySm {
  @media screen and (max-width: 660px) {
    @content;
  } 
}

body, html {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: url(max-tarkhov-skateDeck.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

   #bg {
    background-color: color(primary);
    width: 100%;
    height: 100%;
    opacity: .5;
    position: fixed;
    z-index: -1;
    }
} 

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
 
  div {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: flex-start;
    padding: 15px;

    a.btn{
      margin: 20px;
      padding: 10px;
      text-decoration: none;
      font-size: 14px;
      letter-spacing: 2px;
      font-weight: 600;
      color: color(primary);
      border: 1px solid color(primary);
      border-radius: 5px;
      box-shadow: 0 2px 3px rgba(0,0,0,.2);
      background-color: color(secondary);
      height: 20px;
      i {
        padding: $padding-small;
      }
      &:hover{
        color: color(secondary);
        background-color: color(lp);
      }
    }
 }
  section#title{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;

    svg {
      font-size: 6.5rem;
      font-weight: bold;
      letter-spacing: 10px;
      text-shadow: 10px 5px 5px rgba(0,0,0,.8);
      fill: color(secondary);
    }
  }

  section#primary{
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background: color(accent);
    padding: 20px;
    margin: auto;
    border: 1px solid color(accent);
    border-radius: $borders;
    width: 50%;

    p {
      text-align: center;
      font-size: 14px;
    }

    form {
      text-align: center;
        input {
          padding: 10px;
          border-radius: 5px;
          text-indent: initial;
          width: 40%;
        }

        input.btn{
            background-color:color(primary);
            color: color(secondary);
            font-weight: 600;
            box-shadow: 0 2px 3px rgba(0,0,0,.2);
            width: 25%;
            
            &:hover{
              color: color(dp);
              background-color: color(lp);
            }
          }
      }

    i {
      padding-right: 10px;
    }

    a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      text-decoration: none;
      font-size: 14px;
      letter-spacing: 2px;
      font-weight: 600;
      color: color(primary);
      border: 1px solid color(primary);
      border-radius: 5px;
      box-shadow: 0 2px 3px rgba(0,0,0,.2);
      padding: $padding-small;
      margin: 0 auto;
      width: 150px;
      background-color: color(secondary);

      &:hover{
        color: color(secondary);
        background-color: color(lp);
      }
    }
  }
}

@include queryMd {
  main{
    display: grid;

      section#primary{
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    section#title{
      svg {
        font-size: 4rem;
      }
    }
  }   
}

@include querySm {
  main{
    div{
      display: flex;
      justify-content: center;
        a.btn{
        padding-bottom: 15px;
        font-size: 12px;
        height: 14px;
        }
    }
    section#title {
      svg {
        font-size: 2.7rem;
      }
    }
  } 
}




